.main-container {
    display: grid;
    grid-template-columns: 2fr 13fr;
    grid-template-rows: 1fr;

    @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}