.friends-hint {
    grid-column: 3;
    border-radius: 15px;
    background-color: $secondary-color;
    margin: 50px auto;
    width: 80%;
    padding: 1em;

    @include tablet {
        display: none;
    }

    &__title {
        color: $tertiary-color;
    }

    &__list {
        list-style: none;
        line-height: 3.5em;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    &__avatar {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-weight: bold;
        color: $tertiary-color;
    }
}