.leftNav {
  background-color: $light-darken;
  width: auto;
  grid-column: 1;

  &__container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
  }

  a {
    display: flex;
    align-items: center;
    color: $tertiary-color;
    font-size: 1em;
    margin: 0;
    padding: 5px;

    &:hover {
      color: $light-darken;
      background-color: $tertiary-color;
    }
  }

  &__icon {
    padding: 10px;
  }
}
