.navbar {
  background-color: $primary-color;
  color: $light;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
  }

  &__logo {
    &-img {
      height: 1.4em;

      &--responsive {
        display: none;
        padding: 1em 100%;
        box-sizing: content-box;

        &:hover {
          background-color: $primary-color-darken;
          color: $light-darken;
          cursor: pointer;
        }
      }

      @include mobile {
        &--desktop {
          display: none;
        }
        &--responsive {
          display: block;
        }
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  &__item {
    padding: 1em 4em;
    margin: 0%;

    @include tablet {
      padding: 1em;
    }
  }

  // All Links
  a,
  &__item {
    color: $light;

    &:hover {
      background-color: $primary-color-darken;
      color: $light-darken;
      cursor: pointer;
    }
  }

  &__link {
    &--responsive {
      display: none;
      font-size: 1.3em;
    }

    @include tablet {
      &--desktop {
        display: none;
      }
      &--responsive {
        display: block;
      }
    }
  }
}
