.welcome {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 2em;

    &__brand {
        width: 90%;
    }

    &__title {
        color: $secondary-color-darken;
    }

    &__resume {
        color: $tertiary-color;
    }
}