.navbar {
    background-color: $primary-color;
    display: flex;
    font-family: sans-serif;

    &__logo {
        height: 1.2em;
    }

    &__link {
        padding: 1em;
        font-size: 1.3em;
        color: $light;

        &:hover {
            transition: 0.3s;
            background-color: darken($primary-color, 10);
        }

        &--toggle {
            display: none;
        }
    }

    &__items {
        display: flex;
    }
  }

  @include responsive {
    .navbar__items, 
    .navbar {
        flex-direction: column;
    }

    .navbar {
        &__items {
            display: none;
        }

        &__toggleShow {
            display: flex;
        }

        &__link {
            &--toggle {
                align-self: flex-end;
                display: initial;
                position: absolute;
                cursor: pointer;
            }
        }
    }
  }