/* Colors variables */

$primary-color: #FD2D01;
$secondary-color: #FFD7D7;
$tertiary-color: #4E5166;

$light: #F6F6F6;
$dark: #353535;

/* Breakpoints */

$breakpoints: (
    tablet: 599px,
    desktop: 992px
);