.home {
  display: grid;
  grid-template-columns: 7fr 4fr;
  margin: auto;

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__thread-container {
    grid-column: 1;
  }

  &__thread-list {
    @include tablet {
      padding: 0;
    }
  }

  &__right-side {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  &__right-side-container {
    position: sticky;
    top: 20px;
  }
}
